.categoria {
    background-color: rgb(53, 146, 199);
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 10px;
    text-align: center;
}

.categorias {
    margin-left: .5px;
    background: rgb(224, 227, 230);
    

}