body {

    padding: 1px;
    margin: 1px;
    background-color: #7fffd4;
    font-size: 40px;
    font-family: sans-serif;
}

.misnotas{
    background-color: rgb(53, 146, 199);
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 10px;
    text-align: center;
}

.lasnotas {
    margin-left: 0px;
    background: rgb(224, 227, 230);
    

}






form{
   
    padding: 10px;
}


.centrar {
    
    text-align: center;
}
